 @charset "UTF-8";
/* CSS Document */

body {
    font-family: 'Roboto', sans-serif;
}
.hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 3px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    height: 4px;
    background-color: #00B079;
}
.navbar-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
    color: #3FC39A;
}


.band-hero {
    height: auto;
    margin-top: 0px;
    min-width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #968080;
    background-image: url(../images/glpv-solar-hero@2x.png);
    background-size: cover;
}
.band-whoweare {
    height: auto;
    margin-top: 0px;
    min-width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 50px;
    padding-bottom: 100px;
    background-image: url(../images/who-we-are-green@2x.png);
    background-size: cover;
    background-position: 50% 50%;
}
.band-portfolio {
    height: auto;
    margin-top: 0px;
    min-width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 100px;
    padding-bottom: 100px;
}
.band-offer {
    height: auto;
    margin-top: 0px;
    min-width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: url(../images/offer-bg@2x.png);
    background-position: 0% 0%;
    background-size: cover;
}
.band-footer {
    height: auto;
    margin-top: 0px;
    min-width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* [disabled]background-color: #263080; */
}
.band-hero-text {
    padding-top: 0px;
}
.footer-icon {
    max-height: 50px;
    float: none;
}
.center-block {
    margin-right: auto;
    margin-left: auto;
    display: block;
}

h2 {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
}
h5 {
    color: #FFFFFF;
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
}
.text-offer {
    color: #FFFFFF;
    font-weight: 300;
    font-size: 20px;
}

a:link {
    color: #000000;
}
a:hover {
    color: #8B8B8B;
    text-decoration: none;
}
.footer-link:hover {
    color: #00B079;
}
.text-whoweare {
    color: #FFFFFF;
    font-family: Roboto;
    text-align: justify;
    font-size: 20px;
    font-weight: 300;
}
.text-footer-lt {
    font-family: 'Roboto', sans-serif;
    margin-top: -19px;
}
.navbar-right {
    float: none;
    margin-left: auto;
}
.navbar-border {
    border-bottom: 6px solid rgba(0,176,121,1.00);
}
.text-navbar {
    font-family: 'Roboto Slab', serif;
    color: rgba(0,0,0,1.00);
    font-weight: 500;
}
.bg-light {
    background-color: rgba(255,255,255,0.72) !important;
}

nav .navbar-nav li a{
  color: black !important;
  }
nav .navbar-nav li a:hover{
  color: dimgrey!important;
  }
.btn-success {
  color: #fff;
  background-color: #00b079;
  border-color: #00b079;
}

.btn-light {
  color: #00b079;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}



.carousel-control-next, 
.carousel-control-prev {
	width: 50px;
	height: 50px;
	background-color: #00b079;
	border-radius: 50%;
	top: calc(50% - 25px);
} 
.carousel-control-prev {
	left: 5%;
}
.carousel-control-next {
	right: 5%;
}
.text-pros {
    color: rgba(0,0,0,1.00);
}

h4 {
    color: #000000;
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
	margin-top: 20px;
}

h6 {
    color: #00B079;
    font-size: 25px;
	margin-top: 20px;
}

.text-offer-black {
    color: #000000;
    font-weight: 300;
    font-size: 20px;
}
.text-h6-wht {
    font-family: 'Roboto Slab', serif;
	color: rgba(255,255,255,1.00);
    font-weight: 300;
    font-size: 25px;
}

.text-h6-grn {
    font-family: 'Roboto Slab', serif;
	color: #00B073;
    font-weight: 300;
    font-size: 25px;
}

/*Xtra Small View*/
@media (max-width: 575.98px){
	p {
	font-size: 15px;	
	}
	
	li {
	font-size: 15px;	
	}
	
	h2 {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}
h5 {
    color: #FFFFFF;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
}
.text-offer {
    color: #FFFFFF;
    font-weight: 300;
    font-size: 15px;
} 
	h4 {
    color: #000000;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
	margin-top: 20px;
}

h6 {
    color: #00B079;
    font-size: 16px;
	margin-top: 20px;
}

.text-offer-black {
    color: #000000;
    font-weight: 300;
    font-size: 20px;
}
.text-h6-wht {
    font-family: 'Roboto Slab', serif;
	color: rgba(255,255,255,1.00);
    font-weight: 300;
    font-size: 15px;
}

.text-h6-grn {
    font-family: 'Roboto Slab', serif;
	color: #00B073;
    font-weight: 300;
    font-size: 15px;
} 

	.text-whoweare {
	font-size: 15px;	
	}	
	
	.text-offer-black {
	font-size: 15px;	
	}
	
/*Small View*/
@media (min-width: 575.99px) and (max-width: 767.98px){
	
	li {
	font-size: 15px;	
	}
	
	p {
	font-size: 15px;	
	}
	
	h2 {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}
h5 {
    color: #FFFFFF;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
}
.text-offer {
    color: #FFFFFF;
    font-weight: 300;
    font-size: 15px;
} 
	h4 {
    color: #000000;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
	margin-top: 20px;
}

h6 {
    color: #00B079;
    font-size: 16px;
	margin-top: 20px;
}

.text-offer-black {
    color: #000000;
    font-weight: 300;
    font-size: 20px;
}
.text-h6-wht {
    font-family: 'Roboto Slab', serif;
	color: rgba(255,255,255,1.00);
    font-weight: 300;
    font-size: 15px;
}

.text-h6-grn {
    font-family: 'Roboto Slab', serif;
	color: #00B073;
    font-weight: 300;
    font-size: 15px;
} 

	.text-whoweare {
	font-size: 15px;	
	}	
	
	.text-offer-black {
	font-size: 15px;	
	}
	
/*Tablet View*/
@media (min-width: 767.99px) and (max-width: 992px){
	
	p {
	font-size: 18px;	
	}
	
	li {
	font-size: 18px;	
	}
	
	h2 {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}
h5 {
    color: #FFFFFF;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
}
.text-offer {
    color: #FFFFFF;
    font-weight: 300;
    font-size: 18px;
} 
	h4 {
    color: #000000;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
	margin-top: 20px;
}

h6 {
    color: #00B079;
    font-size: 20px;
	margin-top: 20px;
}

.text-offer-black {
    color: #000000;
    font-weight: 300;
    font-size: 20px;
}
.text-h6-wht {
    font-family: 'Roboto Slab', serif;
	color: rgba(255,255,255,1.00);
    font-weight: 300;
    font-size: 20px;
}

.text-h6-grn {
    font-family: 'Roboto Slab', serif;
	color: #00B073;
    font-weight: 300;
    font-size: 20px;
	}

	.text-whoweare {
	font-size: 18px;	
	}	
	
	.text-offer-black {
	font-size: 18px;	
	}	
/*Desktop View*/
@media (min-width: 993px) and (max-width: 1199px){
	
} 

/*Xtra Desktop View*/
@media (min-width: 1200px) {
	
} 
